<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>VIZ 1</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'velib/style.css' %}"
    />
  </head>
  <body>
    <div class="center">
      <a href="http://127.0.0.1:8000/" class="previous">&laquo; PREVIOUS</a>
      <a href="http://127.0.0.1:8000/velib/viz2/" class="next">NEXT &raquo;</a>
    </div>
    {% autoescape off %} {{ plot_div }} {% endautoescape %}
  </body>
</html>
