a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: rgb(190, 180, 180);
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #043eaa;
    color: white;
}

.round {
    border-radius: 50%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}